* {
  box-sizing: border-box;
  font-family: "Play", sans-serif;
}

body {
  background: #000;
  background: linear-gradient(to right, #161616, #000);
}

/* NAVBAR */
.navbar {
  background: #131313;
  box-shadow: 1px 0 10px 3px #81197e;
  max-width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  max-width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.7rem;
}

#navbar__logo {
  background: #16bffd;
  background: -webkit-linear-gradient(to right, #cb3066, #16bffd);
  background: linear-gradient(to right, #cb3066, #16bffd);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Nova Cut", cursive !important;
}

.navbar-nav {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: right;
  list-style: none;
  font-size: 1.2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

/* .nav-link {
    max-width: 100%;
    margin-right: 1.8rem;
    color: #fff;
    text-decoration: none;
    height: 100%;
}

.navbar-nav > li > a:hover {
    color: #16BFFD;
    transition: all 0.3s ease;
} */

.highlight {
  border-bottom: 4px solid #16bffd;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7em;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #16bffd;
  transition: all 0.3s ease;
}

.navbar__links:active {
  color: #16bffd;
  transition: all 0.3s ease;
}

.active {
  background: #131313;
  top: 100%;
  opacity: 1;
  transform: all 0.5s ease;
  z-index: 99;
  height: max-content;
  font-size: 1.6rem;
}

.button {
  text-decoration: none;
  padding: 0.2em 1.4em;
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid;
  border-color: #81197e;
  border-color: -webkit-linear-gradient(to right, #0b8793, #81197e);
  border-color: linear-gradient(to right, #0b8793, #81197e);
  color: #81197e;
  transition: all 0.3s ease;
}

.dropmobile {
  background: #131313;
  top: 100%;
  opacity: 1;
  z-index: 99;
  height: max-content;
  align-items: center;
  font-size: 1.6rem;
}

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-reveal:hover:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Underline From Center */
.hvr-underline-from-center {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #16bffd;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.btnHover:hover {
  background: #81197e;
  color: #fff;
}
.btnNavHover:hover {
  background: #81197e;
  border: 1px solid #81197e;
  color: #fff;
}

.mieiProgettiBtnHover:hover {
  background: #81197e;
  color: #fff;
}

/* PRESENTATION */

.presentation {
  background: #000;
  background: linear-gradient(to right, #161616, #000);
  padding: 12rem 0;
  max-width: 1500px;
}

.presentation__container {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 0.3rem;
}

.presentation__heading {
  font-size: 5.8rem;
  margin-bottom: 24px;
  color: #fff;
}

.presentation__heading span {
  background: #16bffd;
  background: -webkit-linear-gradient(to right, #cb3066, #16bffd);
  background: linear-gradient(to right, #cb3066, #16bffd);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.presentation__description {
  font-size: 4.5rem;
  background: #da22ff;
  background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
  background: linear-gradient(to right, #8f0eff, #da22ff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.animate__animated.animate__zoomIn {
  --animate-duration: 2s;
}

.center {
  margin: 0 auto;
  max-width: max-content;
}

/* ABOUT */
.main {
  background-color: #131313;
  padding: 7rem 1.5rem;
  max-width: 1500px;
}

.main__container {
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  padding: 0 0.3rem;
}

.main__content {
  color: #fff;
  width: 100%;
}

.main__content h1 {
  font-size: 2.7rem;
  font-weight: 700;
  background: #951b84;
  background: linear-gradient(to top, #f41b9d 0%, #951b84 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.main__content h3 {
  font-size: 2rem;
  background: #ff8177;
  background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
  background: linear-gradient(to right, #8f0eff, #da22ff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: justify;
  line-height: 2.1rem;
}

.name {
  background: #16bffd;
  background: -webkit-linear-gradient(to right, #cb3066, #16bffd);
  background: linear-gradient(to right, #cb3066, #16bffd);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.work {
  background: #951b84;
  background: linear-gradient(to top, #f41b9d 0%, #951b84 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.studi {
  background: #0b8793;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 600;
}

.main__btn {
  font-size: 1.4em;
  background: #81197e;
  background: -webkit-linear-gradient(to right, #0b8793, #81197e);
  background: linear-gradient(to right, #0b8793, #81197e);
  border: none;
  padding: 0.4em 1.6em;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  position: relative;
  outline: none;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.main__btn a,
.services__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__img--container {
  text-align: center;
}

.main__img--card {
  margin: 0 auto;
  margin-bottom: 1em;
  max-height: 500px;
  max-width: 500px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #a1199d;
  background: -webkit-linear-gradient(to right, #31cfdd, #a1199d);
  background: linear-gradient(to right, #31cfdd, #a1199d);
}

.card-img-top {
  margin: 1em 0;
}

#card-2 {
  margin: 0 30px;
  padding: 1rem 0;
  max-height: 25rem;
  max-width: 25rem;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(26, 37, 41);
  background: webkit-linear-gradient(
    295deg,
    rgba(26, 37, 41, 1) 9%,
    rgba(14, 1, 10, 1) 66%
  );
  background: linear-gradient(
    295deg,
    rgba(26, 37, 41, 1) 9%,
    rgba(14, 1, 10, 1) 66%
  );
}

#card-2 a {
  text-decoration: none;
  color: #fff;
}

#card-2 a:hover {
  color: #81197e;
}

/* PROJECTS */
.projects {
  background: rgb(1, 0, 13);
  background: webkit-linear-gradient(
    42deg,
    rgba(1, 0, 13, 1) 37%,
    rgba(110, 9, 121, 1) 81%
  );
  background: linear-gradient(
    142deg,
    rgba(1, 0, 13, 1) 37%,
    rgba(110, 9, 121, 1) 81%
  );
  padding: 2rem 1.5rem;
  max-width: 1500px;
}

.projects h1 {
  background: #951b84;
  background: linear-gradient(to top, #f41b9d 0%, #951b84 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-top: 0;
  margin-bottom: 2.5rem;
  font-size: 2.7rem;
  fnt-weight: 700;
}

.projects__card {
  border-radius: 4px;
  padding: 1rem 1rem 1.2rem;
  color: #fff;
  background: rgba(243, 213, 250, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(1.6px);
  transition: 0.3s ease;
}

.projects__card h4 {
  text-align: center;
  background: rgb(110, 9, 121);
  background: linear-gradient(
    142deg,
    rgba(110, 9, 121, 1) 11%,
    rgba(14, 1, 10, 1) 58%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-top: 5px;
  font-weight: 700;
}

.projects__card p {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  padding: 0 10px;
  color: #000;
}

.projects__btn {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #000;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 50%;
}

.projects__card a {
  color: #fff;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  background: #131313;
  font-size: 1.2rem;
  text-decoration: none;
}

.linkHover:hover {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  transition: all 200ms ease-out;
}

.skillHover:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.projects__card:hover {
  cursor: pointer;
  background: rgba(65, 217, 255, 0.71);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.7px);
  -webkit-backdrop-filter: blur(1.7px);
}

/* SKILLS */
.skills {
  background: rgb(3, 6, 8);
  background: webkit-linear-gradient(
    198deg,
    rgba(3, 6, 8, 1) 37%,
    rgba(15, 15, 15, 1) 83%
  );
  background: linear-gradient(
    198deg,
    rgba(3, 6, 8, 1) 37%,
    rgba(15, 15, 15, 1) 83%
  );
  padding: 2rem 0.3rem;
  margin: 0 auto;
  max-width: 1500px;
}

.skills h1 {
  background: #951b84;
  background: linear-gradient(to top, #f41b9d 0%, #951b84 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-top: 0;
  margin-bottom: 2.5rem;
  font-size: 2.7rem;
  font-weight: 700;
  text-align: center;
}

.skills__card {
  margin: 10px auto;
  max-height: 200px;
  max-width: 200px;
  min-width: 150px;
  min-height: 150px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-image: linear-gradient(-225deg, #00dbde 0%, #fc00ff 100%);
  transition: 0.3s ease-in;
}

.skills__img {
  max-width: 100%;
  max-height: 100%;
}

.cv__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.4em 1.4em;
  font-size: 1.2rem;
  height: 100%;
  width: 50%;
  outline: none;
  border-radius: 5px;
  border: 1px solid;
  border-color: #81197e;
  border-color: -webkit-linear-gradient(to right, #0b8793, #81197e);
  border-color: linear-gradient(to right, #0b8793, #81197e);
  color: #81197e;
  transition: 0.3s;
}

.cv__btn:hover {
  color: #fff;
  transition: all 0.3s ease;
}

.cv__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

/* CONTACTS */
.contacts {
  background: rgb(53, 163, 195);
  background: webkit-linear-gradient(
    339deg,
    rgba(53, 163, 195, 1) 11%,
    rgba(14, 1, 10, 1) 56%
  );
  background: linear-gradient(
    339deg,
    rgba(53, 163, 195, 1) 11%,
    rgba(14, 1, 10, 1) 56%
  );
  padding: 2.5em 0.3em 3.7em;
  max-width: 1500px;
}

.contacts__container {
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  max-width: 1300px;
  padding: 0 2rem;
}

.contacts__content {
  color: #fff;
}

.contacts h1 {
  font-size: 2.7rem;
  font-weight: 700;
  background: #951b84;
  background: linear-gradient(to top, #f41b9d 0%, #951b84 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.contacts__content h2 {
  font-size: 2.5rem;
  background: #ff8177;
  background: -webkit-linear-gradient(to right, #9114ff, #da22ff);
  background: linear-gradient(to right, #8f0eff, #da22ff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.contacts__content p {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.1rem;
}

.contatti {
  font-size: 2rem;
  color: #fff;
  margin: 0 auto;
  padding: 0.2rem;
}

.contact__btn {
  background: #81197e;
  color: #fff;
  border: 1px solid #81197e;
  text-decoration: none;
  padding: 0.4em 1.4em;
  font-size: 1.2rem;
  height: 100%;
  width: 25%;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btnContactHover:hover {
  border: 1px solid;
  border-color: #81197e;
  color: #81197e;
  background: transparent;
}

/* Footer CSS */
#footer {
  padding: 2.2em 0 2em;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

#footer__logo:hover {
  color: #81197e;
}

.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__icon--link:hover {
  color: #81197e;
  transition: all 0.3s ease;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.website__rights {
  color: #fff;
  font-weight: 500;
}
